.containerHome {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    background-color: #f9f9f0;
}