.mangaContainer {
    width: 30vh;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    margin: 1%;
    border: 1px solid rgb(202, 201, 201);
    box-shadow: 0 5px 5px rgb(231, 230, 230);
    border-radius: 4px;
    background-color: white;
}

.mangaContainer:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

.informations-manga {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h2 {
    text-align: center;
}

.img-list img {
    width: 25vh;
}