.mangaContainer {
    width: 30vh;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    margin: 1%;
    border: none;
    box-shadow: 0 5px 5px rgb(231, 230, 230);
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5%;
    position: relative;
}

/* .mangaContainer:hover {
    background-color: #d2d2d2;
    cursor: pointer;
} */

.informations-manga {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.informations-manga h2 {
    text-align: center;
    color: #C38154;
}

.informations-manga p {
    text-align: center;
    color: #C38154;
    font-family: 'Ysabeau Infant', sans-serif;
}

.mangaContainer img {
    width: 25vh;
    border-radius: 5px;
    cursor: default;
}

.view {
    position: absolute;
    width: 35vh;
    height: 7vh;
    bottom: -5%;
    background-color: white;
    opacity: 0.70;
    color: #C38154;
    border: 3px solid #C38154;
    border-radius: 10px;
    z-index: 1;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 3vh;
}